@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
   
}

.projet{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(67, 230, 230, 0.686);
    border-radius: 8px;
    margin-bottom: 80px;
    
    flex-direction: column;
    height: auto;
}


.projet img{
   width: 50%;
   height: 350px;
   border-radius: 8px;
   transition: 0.8s ease;
   max-width: 100%;
   height: auto;
   margin: 10px;
   margin-right: 20px;
}
.projet img:hover {
     transform: scale(1.05);
     
     }

.description{
    text-align: center;
}
.description h2{
    font-size: 30px;
    font-weight: 800;

    text-align: center;
    color: rgb(39, 137, 179);

}
.description h3{
    font-size: 18px;
    color: rgb(23, 23, 23);
    font-size: medium;
}
@media  (max-width: 768px) {
    .projet {
      flex-direction: column;
      height: auto;
    }
    
    .projet img {
      width: 100%;
      margin-right: 0;
    }
  }
  @media  (max-width: 600px) {
    .description h2 {
      font-size: 30px;
    }
  
    .description h3 {
      font-size: 16px;
    }
  }